.MainHome{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;

    .section__1 {

        img{
            width: 80vw;
            height: 90vh;
        }
    }

    .section__3{
        height: 100vh;
        display: flex;
        flex-direction: row;
        margin: 4rem 3rem;
        
        img{
            width: 40vw;
            height: 83vh;
            margin: 6rem;
        }

        div{
            display: flex;
            flex-direction: column;
            margin-top: 15rem;

            p{
                width: 28vw;
                padding: 1rem;
            }
        }
    }

    .section__4{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-image: url(../../../public/svg.png);
        margin-top: 4rem;

        img{
            width: 40vw;
            height: 65vh;
            border-radius: 4rem;
        }

        div{
            margin: 20rem 9rem;
        }
    }

    .section__5{
        height: 100%;
        width: 100%;
        background-image: url(../../../public/svg90.png);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1{
            padding: 2rem;
            margin-top: 7rem;
        }

        input{
            width: 30em;
            max-width: 30em;
            height: 3em;
            margin: 1rem 0;
            display: flex;
            align-items: center;
            border-radius: 20px;
            padding-left: 1em;
            background-color: black;
            border: none;
        }

        textarea {
            width: 30em;
            height: 15em;
            padding: 1em 2em;
            margin: 1em 0;
            border-radius: 30px;
            resize: none;
            border: none;
            background-color: black;
        }

        button {
            height: 3em;
            width: 15em;
            margin: 1rem 0;
            color: white;
            font-family: 'MADE Soulmaze', sans-serif;
            border-radius: 10px;
            border: 1px solid white;
            background-color: black;
        }
        
        button:hover {
            background-color: white;
            color: black;
            cursor: pointer;
        }
    }
}



