* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
}

body{
    font-family: 'MADE Soulmaze', sans-serif;
    /*font-family: 'MADE Soulmaze Outline', sans-serif;*/
    background-color: black;
    font-style: italic; 
    width: 100%; 
    height: 100%;
    justify-content: center;
    background-image: url(../img/fundo.jpg);
}

/* NAVBAAAR */

header {
    background: #3D0101;
    background: linear-gradient(55deg, #3D0101 0%, rgba(0,0,0,1) 83%);
    width: 100%;    
}

.nav__bar {
    width: 98vw;
    height: 120px;
    display: flex;
    justify-content: space-around;
}

.menu__celular {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1em;
}

.menu__celular > a {
    width: 50px;
    height: auto;
}

.menu__celular a i{
    width: 40px;
    height: 40px;
    background-color: white;
}

.nav__bar img {
    width: 400px;
    height: auto;
}

.nav__bar ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav__bar ul li a:first-of-type {
    margin-right: 1em;
}       

.nav__bar ul li a {
    color: white;
    font-size: 2em;
}

/* MAAAAAIIINNN*/

.container-form{
    width: 100%;
    height: 83vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'MADE Soulmaze Outline', sans-serif;
}

.container-form h1{
    margin: 2em 0;
}

.form-talk{
    width: 38em;
    height: 22em;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #3D0101;
    border-radius: 50px;
}

.container-input{
    display: flex;
    flex-direction: column;
    align-items: left;
}

.container-input input{
    width: 30em;
    max-width: 30em;
    height: 3em;
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding-left: 1em;
    background-color: black;
    font-family: 'MADE Soulmaze', sans-serif;
}

.btn-login{
    height: 3em;
    width: 15em;
    color: white;
    font-family: 'MADE Soulmaze', sans-serif;
    border-radius: 10px;
    background-color: black;
}

.btn-login:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}

    /*FOOTTEERRR*/

.container-foot{
    width: 100%;
    height: 280px;
    display: flex;
    justify-content: center;
    margin-top: 1em;
    background-image: url(../img/footerWave.png);
    opacity: 90%;
}

.footer-col{
    width: 45%;
    padding: 5em;
}

.footer-col h4{
    font-size: 18px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before{
    content:'';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: white;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    display: block;
    display: all 0.3s ease;
}

.footer-col ul li a:hover{
    color: white;
    padding-left: 8px;
}

.footer-col li a{
    padding-left: 16px;
}

.footer-col .social-links a{
    display: inline-block;
    flex-wrap: wrap;
    height: 40px;
    width: 40px;
    background-color: #3D0101;
    margin:1em 20px 20px 3em;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: white;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
    color: #03045e;
    background-color: white;
} 

.footer-col .social-links a i{
    justify-content: center;
}