* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
}

body{
    font-family: 'MADE Soulmaze', sans-serif;
    /*font-family: 'MADE Soulmaze Outline', sans-serif;*/
    background-color: black;
    font-style: italic; 
    width: 100%; 
    height: 100%;
    justify-content: center;
}

/* NAVBAAAR */

header {
    background: #3D0101;
    background: linear-gradient(55deg, #3D0101 0%, rgba(0,0,0,1) 83%);
    width: 100%;    
}

.nav__bar {
    width: 98vw;
    height: 120px;
    display: flex;
    justify-content: space-around;
}

.menu__celular {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1em;
}

.fa-solid .fa-burguer{
    color: white;
}

.menu__celular a{
    width: 40px;
    height: 40px;
}

.nav__bar img {
    width: 400px;
    height: auto;
}

.nav__bar ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav__bar ul li a:first-of-type {
    margin-right: 1em;
}

.nav__bar ul li a {
    color: white;
    font-size: 2em;
}

.icon img{
    width: 20px;
    height: 20px;
}


/* MAAAAAIN */

.container-bug img{
    width: 100%;
    height: 40em;
    position: relative;
}

.container-bug article {
    width: 100%;
    height: 100%;
}

.container-bug h1 {
    text-align: left;
    margin-left: 3em;
    font-size: 2em;
    color: #FE0002;
    font-family: 'MADE Soulmaze Outline', sans-serif;
}

.container-bug p{
    margin-top: 1em;
    margin-left: 5em;
}

.container-nos{
    width: 100%;
    height: 780px;
    display: flex;
    flex-direction: row;
    padding-top: 5em;
}

.container-nos img{
    height: 40em;
    width: 50em;
    padding-left: 5em;
}

.container-text{
    width: 40em;
    height: 40em;
}

.container-text h1{
    padding-left: 2em;
    padding-top: 5em;
    padding-bottom: 1em;
    font-size: 2em;
    color: #FE0002;
    font-family: 'MADE Soulmaze Outline', sans-serif;
}

.container-text p{
    padding-left: 2em;
}

.container-local{
    height: 620px;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 3em 10em;
    background-color: #3D0101;
    background: linear-gradient(-55deg, #3D0101 0%, rgba(0,0,0,1) 100%);
    font-family: 'MADE Soulmaze Outline', sans-serif;
}

.container-local h1{
    padding-top: 5em;
    padding-bottom: 1em;
    font-size: 2em;
    color: #FE0002;
}

.container-local img{
    padding-left: 2em;
    height: 33em;
    width: 40em;
}


.container-form{
    width: 100%;
    height: 640px;
    background: #3D0101;
    background: radial-gradient(circle, #3D0101 30%, rgba(0,0,0,1) 99%);
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'MADE Soulmaze Outline', sans-serif;
}

.container-form h1{
    padding-top: 2em;
}

.form-talk{
    width: 40em;
    height: 30em;
    
    padding-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.container-input{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.container-input input{
    width: 30em;
    max-width: 30em;
    height: 3em;
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding-left: 1em;
    background-color: black;
    font-family: 'MADE Soulmaze', sans-serif;
}

textarea{
    width: 30em;
    max-height: 15em;
    max-height: 15em;
    padding: 1em 2em;
    max-width: 35em;
    border-radius: 30px;
    background-color: black;
    font-family: 'MADE Soulmaze', sans-serif;
}

.btn-login{
    height: 3em;
    width: 15em;
    color: white;
    font-family: 'MADE Soulmaze', sans-serif;
    border-radius: 10px;
    background-color: black;
}

.container-foot{
    width: 100%;
    height: 280px;
    background-color: black;
    display: flex;
    justify-content: center;
}

.footer-col{
    width: 45%;
    padding: 5em;
}

.footer-col h4{
    font-size: 18px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before{
    content:'';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: white;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    display: block;
    display: all 0.3s ease;
}

.footer-col ul li a:hover{
    color: white;
    padding-left: 8px;
}

.footer-col li a{
    padding-left: 16px;
}

.footer-col .social-links a{
    display: inline-block;
    flex-wrap: wrap;
    height: 40px;
    width: 40px;
    background-color: #3D0101;
    margin:1em 20px 20px 3em;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: white;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
    color: #03045e;
    background-color: white;
} 

.footer-col .social-links a i{
    margin-top: 1.75vh;
}

  